.table-color{
    background: linear-gradient(to left, rgb(142, 45, 226), rgb(74, 0, 224));
    color: #fff;
}

li.added-developer img {
    width: 60px;
    border-radius: 5px;
}

li.added-developer {
    border: 2px solid #fff;
    border-radius: 6px;
    list-style: none;
    margin-bottom: 15px;
}

.remove-developer:hover{
    color: rgb(255, 46, 46);
    cursor: pointer;
}